<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MarcDbEntities" connectionString="metadata=res://*/Models.GroceryModel.csdl|res://*/Models.GroceryModel.ssdl|res://*/Models.GroceryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=marctestserver.database.windows.net;initial catalog=MarcDb;persist security info=True;user id=MarcTest;password=hAA90mm\ShOXyMkbCm;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
