.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container-fluid {
  height: 100%;
}
html{
  width:100%;
  height:100%;
}
body {

  height: 100%;
  }
.Main {
  background: url("./images/katie-smith-104748.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 2000px;
}
.borderless{
  border: none !important;
}
.strike{
  text-decoration: line-through;
}
.nostrike{
  text-decoration: none;
}
.btn {
  margin: 4px;
}
.jumbotron {
  margin:0 !important;
  background-color: rgba(90, 90, 82, 0.4) !important;
  color: white;
}
.color1 {
  background-color: #CF0A2C !important;
}
.color2 {
  background-color: #E73E51 !important;
}
.color3 {
  background-color: #FFCE00 !important;
}
.card-modified {
  background-color: rgba(100, 87, 50, 0.6) !important;
  color: white;
}
.TransparentBackground
{
  background-color: rgba(100, 87, 50, 0.0) !important;
}
.NoBorders {
  border: none !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
